<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-compatible" content="ie=edge">
        <title>Document</title>

        <style>

            h1 {
                  font-family: Courier, monospace;
                  text-rendering: optimizeLegibility;
            }
        </style>
    </head>
    <body>
        <h1>{{title}}</h1>
        <img src="../embedded/kaijas-musiksalong-15.jpg">
    </body>
</html>